{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <center><h1 class="h3 mb-3 font-weight-normal">Connexion</h1></center>
     <!--<label for="inputEmail">Email</label>--> 
        <div class="offset-3 col-6 ">
            <fieldset class="border border-5 rounded p-2 border-success "  style="box-shadow:10px 10px 5px 5px rgb(210, 224, 224)">
                <div class="col-md-7 mt-2">
                    <i class="fas fa-envelope"></i>
                    <input type="email" value="{{ last_username }}"  name="_username" id="inputEmail" class="form-control" placeholder="julien@gmail.com...."  autocomplete="email" required autofocus>
               </div>
               <br> 
     <!--<label for="inputPassword">Password</label>--> 
         <div class="col-md-7">
            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="entrer votre mot de passe" autocomplete="current-password" required>
       </div>
       
  
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        
        <div class="col-12 text-end  ">
            <button type="submit" class="btn btn-lg btn-success ">submit</button>
          </div>
      </fieldset>
   </div>

</form>
{% endblock %}
