{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}
{% block stylesheets %}
<style>
  .base{
    border-radius:20px;
    margin: 70px;
    margin-top: 2px;
    border: 3px rgb(245, 235, 235) solid;
    padding: 20px;
    box-shadow:10px 10px 5px 5px rgb(232, 224, 224);
  }
  .page{
    padding-top: 10px;
    padding-left: 40px;
  }
</style>
{% endblock %}

{% block body %}
{{ parent() }}

  <div class="base">
    <center><h1>Presentation de l'entreprise </h1></center>
    <div class="page">
      L’Hôtel Ritaj est construit depuis 1982. <br> À cette époque on l’appelait Novotel, puis Comotel, ensuite Le Moroni de 2001à2011, <br>
      c’est a partir de 2011 jusqu’a nos jours qu’on la nommé l’Hôtel Ritaj. Il s’agit d’une chaine hôtelière de Qatari. <br>
     Ce dernier se situe au sud du capital à 35miniutes de l’aéroport et a 5minutes du centre ville. <br> L’Hôtel donne à la fois sur le volcan Karthala et l’océan. <br>
     Cet Hôtel situé à coté des nations unies et du parlement, facilite les désirs aussi bien des hommes d’affaires qu’aux touristes d’un niveau international. <br>
     L’hôtel Ritaj est constitué de 4suites, 42chambres à grand lit, 12chambres à lit jumeaux. <br>
      D’un mini barre, d’une télévisons avec des chaines satellites, accès à l’internet, salle de bain attenante, avec tout les produits d’accueil, <br>
      lingerie, service chambre et nettoyage à sec, mais aussi d’un téléphone et d’un coffre-fort. Et en fin d’un restaurant situé au rez de chaussée <br>
       qui sert à la fois des plats locaux et internationaux.
     D’une piscine et d’un salon de thé ou on sert toute variété de thé, café et des jus naturels.
    </div>
</div>




 
 
{% endblock %}
