{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
<div class="essaie">
    <h1 class="display"> Admninistration</h1>
    <p class="lead"> Bienvenu dans l'interface de votre site internet</p>
</div>
{% endblock  %}