<!-- Footer -->
<footer  style="background-color: black; height:210px;" >
    <div class="row">

        <div class="col-12 col-md-4  mt-3 md-10">
            <h6  style="color: aliceblue;" >Contact:</h6>
            <p>
                <i class="fas fa-envelope me-3" style="color: white;"></i>
                <a href="mailto:info@example.com" >info@example.com</a><br>
                <i class="fas fa-phone me-3" style="color: white;"></i>
                <a href="tel:+ 01 234 567 88">+ 01 234 567 88</a>
            </p>
        </div>  
        <div class="col-12 col-md-4 mt-3">
            <h6  style="color: aliceblue;" >Suivez-nous:</h6>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://retajmoroniresort.com/?lang=fr" role="button" ><i class="fab fa-google"></i></a>
        
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        </div>
    
        <div class="col-12 col-md-4 text-center mt-3" style="color: aliceblue;">
            <h6>À propos:</h6>
            <a href="/propos"><p>Qui somme-nous?</p></a>
        </div>
       <!-- Copyright -->
    <div class="text-center p-3 mt-5" style=" color: white;">
        © Tout droit réserver RETAJ Hotels 2022 
       
      </div>
      <!-- Copyright -->
    </div>
</footer>
<!--End footer-->